* {
  box-sizing: border-box;
}

.App {
  height: 550px;
  /* width: 600px; */
  padding: 30px 30px;
  background: #ffa5b0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  
}

#display {
  width: 200px;
  height: 50px;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  background: #fff;
}

.controllers {
  min-width: 350px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #333;
  border-top: 1px solid #333;
}



#drum-pad-wrapper {
  width: 300px;
  height:300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 0.5rem;
}

.drum-pad {
  background-color: #f5f5f5;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: background 250ms ease-in-out, 
                transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
  outline: none;
  
}

.drum-pad-active {
  background-color: orange;
  outline: none;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 600;
  box-shadow: 0px 5px 15px 0 rgba(0, 0, 0, 0.5);
  border-radius: 15px;
  border: none;
  text-align: center;
  cursor: pointer;
  transform: scale(0.99);
  
}

